
{{!-- <a href="#goUp" style="right: 50px"> --}}
  {{!-- <button class="btn btn-secondary"> go Up</button> --}}
{{!-- </a> --}}
<footer class="footer" style="color: black; text-align: center;"
  <p class="surf is-white" style="text-align: center">
    2019 Surfcasting en vendée | <a href="https://sebastien-reynaud123.gitbook.io/workspace/" title="mention légale" style="color: #ff0000">Mention légale</a>
  </p>
  <p class="surf is-white" style="text-align: center">vous pouvez visiter mon site <a href="http://reynaud-sebastien.fr">ici</a></p>
</footer>
