<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1>Le Surfcasting En Vendée</h1>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Accueil
      </a>
      
      <a class="navbar-item" href="/contact">
        Contact
      </a>
      {{#if user}}




      <div class="navbar-end is-right">
        <div class="navbar-item is-right">
          <div class="buttons">
            <div class="navbar-item has-dropdown is-hoverable profilePic">
              <a class="navbar-link">
                <img src="{{utilisateur.profilePic}}" alt="profil-image" class="image is-64x64 is-rounded">
              </a>

              <div class="navbar-dropdown">
                <a class="menu-link" href="/profile">
                  Mon Profil
                </a>
                <br>
                <a class="menu-link" href="/articles/add">
                  Ajouter un article
                </a>

                <br>
                <a class="menu-link" href="/user/logout">
                  Se deconnecter
                </a>
              </div>
            </div>
                {{else}}
                <a class="button is-primary" href="/user/create">
                  <strong>S'inscrire</strong>
                </a>
                <a class="button is-light" href="/user/login">
                  Connexion
                </a>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{/if}}
</nav>

{{!-- <div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 style="font-size: 2em">Le Surfcasting en Vendée</h1>
      </a> 

      <a role="button" class="navbar-burger is-active" aria-label="menu" aria-expanded="true"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>

      </a>
    </div>
    {{#if user}}
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="menu-link" href="/articles/add">
              Ajouter un article
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="menu-link" href="/user/logout">
            Se deconnecter
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="menu-link" href="/articles">
            Les articles
          </a>
        </div>
      </div>

    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="menu-link" href="/profile/:id">
          <img src="{{utilisateur.profilePic}}" alt="profil-image" class="image is-64x64">
        </a>
      </div>
      <div class="navbar-item menu-link">
        <a class="menu-link" href="/profile">
          Mon Profil
        </a>
      </div>
    </div>
    {{else}}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="menu-link" href="/user/login">
            Se connecter
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="menu-link" href="/user/create">
            S'inscrire
          </a>
        </div>
      </div>
    </div>
    {{/if}}
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="menu-link" href="/contact">
          Contactez nous
        </a>
      </div>
    </div>
  </div>
</nav>
  </div> --}}