{{!--  Contact form --}}

<section id="contact" class="contact" style="height :76vh">
  <div class="marge" style="margin-top: 85px"></div>
  <div class="container">
    <form action="/contact" method="POST">
      <div class="field">
        <label class="label">Nom</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="name" id="toto">
        </div>
      </div>
      <div class="field">
        <label class="label">Prenom</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="surname">
        </div>
      </div>
      
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-danger" type="email" placeholder="Email input" name="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Sujet</label>
        <div class="control">
          <div class="select">
            <select name="select">
              <option>Problèmes Techniques</option>
              <option>Plaintes</option>
              <option>Autre</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Textarea" name="message"></textarea>
        </div>
      </div>
  <br>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Envoyer</button>
        </div>
    </form>
    <form action="/" method="get">
      <div class="control">
        <button class="button is-text">Annuler</button>
      </div>
    </form>
  </div>
  </div>
</section>