{{!-- article example --}}

<section class="section">
  <div class="marge" style="margin-top: 100px"></div>
    <div class="container">
      <div class="card">
        <h1 class="title">{{article.title}}</h1>
          <div class="card-image">
            <figure class="image image is-square">
              <img src="{{article.image}}" alt="image">
            </figure>
          </div>
        <p class="card-content content">{{{stripTags article.content}}}</p>
        </div>
    </div>
    
</section>