<section class="articles articles-pannel">
    <div class="column">
                <h4>POSTS</h4>
                <table class="table is-bordered">
                  <thead>
                      <th>Date</th>
                      <th>Titre</th>
                      <th scope="col" colspan="3">Contenu</th>
                      <th>Actions</th>
                  </thead>
                  <tbody>
                      <td>16/06/2019</td>
                      <td>lorem</td>
                      <td colspan="3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel aut ipsa accusamus delectus, mollitia nam obcaecati explicabo ratione! Non doloremque tempore distinctio quia aliquam natus quis quibusdam, praesentium architecto!
                      Est iste, blanditiis sequi veritatis ex repellendus earum eos nostrum eligendi quaerat quibusdam? Ipsa unde voluptatem eum excepturi explicabo itaque veniam asperiores adipisci modi, ullam quam ea dolores iure fugit.
                      Iure sunt nisi laborum assumenda fugiat cupiditate quos earum vero adipisci asperiores sapiente esse dolores placeat, saepe officiis consequuntur cumque, natus, laudantium excepturi voluptate. Atque pariatur debitis id aliquam eius?
                      Provident quasi cupiditate.</td>
                      <td><i class="fas fa-trash-alt"></i>
                        <i class="fas fa-pencil-alt"></i></td>
                  </tbody>
                  <tbody>
                      <td>16/06/2019</td>
                      <td>lorem</td>
                      <td colspan="3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel aut ipsa accusamus delectus, mollitia nam obcaecati explicabo ratione! Non doloremque tempore distinctio quia aliquam natus quis quibusdam, praesentium architecto!
                      Est iste, blanditiis sequi veritatis ex repellendus earum eos nostrum eligendi quaerat quibusdam? Ipsa unde voluptatem eum excepturi explicabo itaque veniam asperiores adipisci modi, ullam quam ea dolores iure fugit.
                      Iure sunt nisi laborum assumenda fugiat cupiditate quos earum vero adipisci asperiores sapiente esse dolores placeat, saepe officiis consequuntur cumque, natus, laudantium excepturi voluptate. Atque pariatur debitis id aliquam eius?
                      Provident quasi cupiditate.</td>
                      <td><i class="fas fa-trash-alt"></i>
                        <i class="fas fa-pencil-alt"></i></td>
                  </tbody>
                  <tbody>
                      <td>16/06/2019</td>
                      <td>lorem</td>
                      <td colspan="3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel aut ipsa accusamus delectus, mollitia nam obcaecati explicabo ratione! Non doloremque tempore distinctio quia aliquam natus quis quibusdam, praesentium architecto!
                      Est iste, blanditiis sequi veritatis ex repellendus earum eos nostrum eligendi quaerat quibusdam? Ipsa unde voluptatem eum excepturi explicabo itaque veniam asperiores adipisci modi, ullam quam ea dolores iure fugit.
                      Iure sunt nisi laborum assumenda fugiat cupiditate quos earum vero adipisci asperiores sapiente esse dolores placeat, saepe officiis consequuntur cumque, natus, laudantium excepturi voluptate. Atque pariatur debitis id aliquam eius?
                      Provident quasi cupiditate.</td>
                      <td><i class="fas fa-trash-alt"></i>
                        <i class="fas fa-pencil-alt"></i></td>
                  </tbody>
                </table>
                
            </div>
            <a href="/admin/pannel">{{admin}}Admin Pannel</a>
</section>